/nbproject/private/
/build/
/JavaFXApplication2/nbproject/private/
/FX_Poltergeist/FX_Poltergeist/nbproject/private/
/FX_Poltergeistt/FX_Poltergeist/nbproject/private/
/FX_Poltergeist/nbproject/private/
/FX_Poltergeist/dist/
/FX_Poltergeist/build/